<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />
<%namespace name='static' file='../static_content.html'/>

<section class="event-page">
  <section class="events-container">
    <div class="detail-event">
      % if single_event:
        <h1>${single_event.title}</h1>
        <div class="event-iframe">
          ${single_event.iframe}
        </div>
        <div class="event-description">
          <p>${single_event.short_description}</p>
        </div>
      % endif
    </div>
  </section>
</section>
