<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Contact")}</%block>

<section class="container about">
<h1>${_("Contact Us")}</h1>
<div id="contact-map">
  <iframe src="http://maps.google.co.th/maps?f=q&source=s_q&hl=en&geocode=&q=school+of+information+technology+bangmod&aq=&sll=13.0376,101.491373&sspn=34.718351,39.506836&ie=UTF8&hq=school+of+information+technology+bangmod&hnear=&ll=13.652539,100.493724&spn=0.00858,0.009645&t=h&z=14&iwloc=A&cid=6745415741926053256&output=embed" width="100%" height="100%"></iframe>
</div>
<div id="contact-detail">
  <h3>${_("Address")}</h3>
  <p class="bold">${_("School of Information Technology,")}</p>
  <p>${_("King Mongkut's University of Technology Thonburi")}</p>
  <p>${_("126 Pracha Uthit Rd., Bang Mod, Thung Khru, Bangkok, Thailand 10140")}</p>
  <p>${_("Tel. +66-2470-9850 Fax. +66-2872-7145")}</p>
</div>
</section>
