<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />
<%namespace name='static' file='../static_content.html'/>

<%block name="pagetitle">${_("FAQ")}</%block>

<section class="container about">
  <h1>${_("General FAQs")}</h1>

  <div class="main-question">
    <h3>${_("Getting Started:")}</h3>
    <p class="bold">${_("Who is eligible to participate in SIT Academy?")}</p>
    <p>${_("Anybody interested in programming and information technology can be a part of SIT Academy. By every SIT Academy courses and events are free.")}</p>
    <p class="bold">${_("Where can I send suggestions and feedback about the course?")}</p>
    <p>${_("Any comments, suggestion or sharing are appreciated. SIT Academy provides discussion board in particular course that open for every students who enrolled the course.")}</p>
    <p class="bold">${_("What are the benefits for me as a student?")}</p>
    <p>${_("As a SIT Academy student, you will be able to access and learn the SIT Academy course free at your own place. SIT Academy has the interactive classroom to help student achieve the course lessons, create a personal learning schedule, track progress, and earn certificates for course completions.")}</p>
    <p class="bold">${_("How can I use SIT Academy website in English?")}</p>
    <p>${_("If you are in a non-Thai speaking country and want to see the website offered in English do the following:")}</p>
    <ul>
      <li>${_("Log in to SIT Academy website, go to account setting session.")}</li>
      <li>${_("On the Account Setting page, select the language as 'English'. The system will change the language automatically.")}</li>
    </ul>

  </div>

  <div class="main-question">
    <h3>${_("About Courses:")}</h3>
    <p class="bold">${_("How do I know what courses are on SIT Academy?")}</p>
    <ul>
      <li>${_("The SIT Academy course page shows list of the online courses provided by School of Information Technology (SIT), King Mongkut's University of Technology Thonburi, Thailand.")}</li>
      <li>${_("You can also view a recommended courses based on user interesting and teacher recommendation by logging in to the system.")}</li>
    </ul>
    <p class="bold">${_("How do I complete a course and what benefits will I get?")}</p>
    <p>${_("After enroll the course,")}</p>
    <ul>
      <li>${_("Click on each item of the course materials listed within each lesson.")}</li>
      <li>${_("Read and view the videos, course handouts, and presentations, do given assignments and take the self-assessments or peer assessments if they are offered.")}</li>
      <li>${_("Once you complete all course assignments in a course, SIT Academy system will automatically calculate final grade by using your scores and you will be able to download a Certificate of Completion.")}</li>
    </ul>
    <p class="bold">${_("Can I enroll in more than one course?")}</p>
    <p>${_("Of course, you can enroll in courses as many as you would like at a time, depending on the open courses in SIT Academy.")}</p>
    <p class="bold">${_("What is the pre-requisite course?")}</p>
    <p>${_("A pre-requisite is the specific course that student should complete before take another course at higher level. However, you enroll in the course that suggests pre-requisite courses no matter you have not completed them.")}</p>
    <p class="bold">${_("Where I can attend live event in SIT Academy?")}</p>
    <p>${_("As a use of SIT Academy you can attend live events presented by SIT Academy. However, if you have to miss a live session, you can watch it on demand later. SIT Academy live events are usually available on demand after they are hosted live.")}</p>
  </div>

  <div class="main-question">
    <h3>${_("My Profile Page and Dashboard:")}</h3>
    <p class="bold">${_("What information is available on My profile page?")}</p>
    <p>${_("On Profile page you can access your personal profile which contain your information. Also, you can see your learning schedule in form of calendar, and note that allow activities to:")}</p>
    <ul>
      <li>${_("To create new event message on your calendar and reminder note, click the Add button.")}</li>
      <li>${_("To edit an event and reminder note, click an event or message and type new message.")}</li>
      <li>${_("To change the order of event in calendar by drag and drop an event to the new date in the calendar.")}</li>
      <li>${_("To delete an event and reminder note, click Remove button.")}</li>
    </ul>
    <p class="bold">${_("How do I download a Certificate of Completion?")}</p>
    <p>${_("On Dashboard page, which contain the list of all enrolled courses. You will see a course you've completed. When click the Download Certification of Completion icon to download a certification for that course, in PDF format.")}</p>
    <p>${_("What happens when I enter personal information in Profile page?")}</p>
    <p>${_("When you enter your information in Profile, your username will be displayed in the course discussion board if you posted or commented. Other users will see your name and can see additional information about you by clicking on your name.")}</p>
  </div>

  <div class="main-question">
    <h3>${_("Discussion Board:")}</h3>
    <p class="bold">${_("Where can I find someone who can answer my question?")}</p>
    <p>${_("Any questions, suggestions, feedbacks or knowledge sharing about the lessons or course you can post in the course discussion board.  It is the place for help, report a problem and get advice from instructor and other students.")}</p>
  </div>
</section>
