<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Honor Code")}</%block>

<section class="container about">
  <h1>${_("Honor Code")}</h1>
  <p>${_("SIT's Philosophy, Vision, and Missions")}</p>
  <p>${_("SIT's Philosophy: 'Do It Right'")}</p>
  <p>${_("Definition: Doing it right depends on five crucial criteria (The Five P's ):")}</p>
  <ul>
    <li>${_("Prompt actions")}</li>
    <li>${_("Punctuality")}</li>
    <li>${_("Professionalism")}</li>
    <li>${_("Perseverance")}</li>
    <li>${_("Principles")}</li>
  </ul>
  <p>${_("SIT's Vision & Missions:")}</p>
  <ul>
    <li>${_("To be self-sustainable in both IT education and IT management.")}</li>
    <li>${_("To equip graduates with a wealth of knowledge in IT, as well as, instill high ethical standards.")}</li>
    <li>${_("To be a role model of a bilingual learning society.")}</li>
    <li>${_("To encourage and support research in IT which will create information wealth for Thai society.")}</li>
    <li>${_("To narrow the digital divide in Thai society.")}</li>
  </ul>
</section>
