<%! from django.utils.translation import ugettext as _ %>

<%inherit file="../main.html" />

<%block name="pagetitle">${_("Privacy Policy")}</%block>

<section class="container about">
  <h1>${_("Privacy Policy")}</h1>
  <p>${_("The SIT Academy recognizes that your privacy is very important to you. In general, you can visit website without telling us who you are or revealing any personal information about yourself. Your privacy is very important to us. Accordingly, we have developed this Policy in order for you to understand how we collect, use, communicate and disclose and make use of personal information. The following outlines our privacy policy.")}</p>
  <p>${_("Before or at the time of collecting personal information, we will identify the purposes for which information is being collected and will collect and use of personal information solely with the objective of fulfilling those purposes specified by us and for other compatible purposes, unless we obtain the consent of the individual concerned or as required by law. And we will only retain personal information as long as necessary for the fulfillment of those purposes.")}</p>
  <p>${_("We will collect personal information by lawful and fair means and, where appropriate, with the knowledge or consent of the individual concerned.")}</p>
  <p>${_("Personal data should be relevant to the purposes for which it is to be used, and, to the extent necessary for those purposes, should be accurate, complete, and up-to-date. We will protect personal information by reasonable security safeguards against loss or theft, as well as unauthorized access, disclosure, copying, use or modification.")}</p>
  <p>${_("We will make readily available to customers information about our policies and practices relating to the management of personal information. However, we are committed to conducting our activities in accordance with these principles in order to ensure that the confidentiality of personal information is protected and maintained.")}</p>
  <p>${_("If you would like to change or delete any information that you have submitted to the SIT Academy, please contact:")}</p>
  <p>${_("The SIT Academy (Email: )")}</p>
  <p>${_("School of Information Technology building,")}
  <p>${_("King Mongkut's University of Technology Thonburi")}</p>
  <p>${_("126 Pracha Uthit Rd., Bang Mod, Thung Khru, Bangkok, Thailand 10140")}</p>
  <p>${_("Tel. +66-2470-9850 Fax. +66-2872-7145")}</p>
</section>
